<mat-toolbar color="primary" style="width: 100%; height: 40px; text-align: center;">
  <p style="font-size: 15px; font-weight: 500; margin-top: 20px;">Object</p>
  <input type="text" style="width: 200px; height: 25px; margin-left: 10px;" class="form-control" placeholder="Enter here">
  <ng-content></ng-content>
</mat-toolbar>
<mat-nav-list>
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 1</span>
    <span mat-line>Add to a note</span>
  </a>

  <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 2</span>
    <span mat-line>Embed in a document</span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 3</span>
    <span mat-line>Share with your friends</span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 4</span>
    <span mat-line>Show to your coworkers</span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 5</span>
    <span mat-line>Show to your coworkers</span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 6</span>
    <span mat-line>Show to your coworkers</span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 7</span>
    <span mat-line>Show to your coworkers</span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 8</span>
    <span mat-line>Show to your coworkers</span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 9</span>
    <span mat-line>Show to your coworkers</span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 10</span>
    <span mat-line>Show to your coworkers</span>
  </a>

  <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
    <i class="fa fa-car" aria-hidden="true"></i>
    <span mat-line>Vehicle No. 11</span>
    <span mat-line>Show to your coworkers</span>
  </a>
</mat-nav-list>

<!-- <mat-toolbar color="primary" style="width: 100%; height: 40px; text-align: center;">
  <p style="font-size: 15px; font-weight: 500; margin-top: 10px;">Object</p>
  <input type="text" style="width: 200px; height: 30px; margin-left: 10px;" class="form-control" placeholder="Enter here">
  <ng-content></ng-content>
</mat-toolbar> -->
<br>
<!-- <div style="display: flex; text-align: center;">
  <input type="checkbox"> &nbsp;&nbsp;
  <input type="checkbox">

  <i class="fa fa-car" aria-hidden="true"></i>

</div> -->