<app-main-content></app-main-content>
<router-outlet></router-outlet>

<!-- <body>
    

<div class="header">
    <nav>
        <ul>
            <li id="left">
                <div style="display: inline-block;">
                    <p style="display: inline;">1st</p>
                    <p style="display: inline;">2nd</p>
                    <p style="display: inline;">3rd</p>
                </div>
            </li>
            <li id="middle"><a href="#">hello adas asd ada dda d <br> sdfd dfsf</a></li>
            <li id="right"><a href="#">hello adas assad sa dsad adsasa</a></li>
        </ul>
    </nav>
</div>

</body> -->