<!-- <app-navbar>
    <button mat-raised-button (click)="openBottomSheet()">Objects</button> &nbsp;
    <button mat-raised-button (click)="openbottom()">Reports</button> &nbsp;
    <button mat-raised-button (click)="openDialog()">Address</button> &nbsp;
    <button mat-raised-button (click)="opendashboard()">Dashboard</button>
</app-navbar> -->

<!-- <mat-toolbar color="primary" style="height: 50px;">
  <div style="display: flex; text-align: right;">
    <button mat-raised-button (click)="openBottomSheet()">Objects</button> &nbsp;
    <button mat-raised-button (click)="openbottom()">Reports</button> &nbsp;
    <button mat-raised-button (click)="openDialog()">Address</button> &nbsp;
    <button mat-raised-button (click)="opendashboard()">Dashboard</button>
  </div>
  <ng-content></ng-content>
</mat-toolbar> -->

<!-- <nav class="navbar navbar-light bg-light" style="min-height: 40px !important; 
height: 40px !important; ">
  <a class="navbar-brand" href="#">GPS</a>
  <div style="display: flex; text-align: right; margin-top: -15px;">

    <div ngbDropdown class="d-inline-block">
      <button mat-button id="dropdownBasic1" ngbDropdownToggle>
        <mat-icon>construction</mat-icon>
      </button> &nbsp;
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>

    <button mat-icon-button (click)="openBottomSheet()">
      <mat-icon>api</mat-icon>
    </button> &nbsp;

    <button mat-icon-button (click)="openbottom()">
      <mat-icon>assignment</mat-icon>
    </button> &nbsp;

    <button mat-icon-button (click)="openDialog()">
      <mat-icon>business</mat-icon>
    </button> &nbsp;

    <button mat-icon-button (click)="opendashboard()">
      <mat-icon>dashboard</mat-icon>
    </button>
  </div>
</nav> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-trans navbar-inverse" style="height: 50px; z-index: 3; border-top: solid 5px white;">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main_nav" style="float: left;">
    <div class="edge">
      <ul class="navbar-nav" style="margin-top: -20px;">
        <li class="nav-item dropdown navbar_class">
          <a class="nav-link  dropdown-toggle tools-toggle" href="#" data-toggle="dropdown"> <img
              src="../../assets/hand-tools.svg" style="width: 15px;" alt=""> </a>
          <ul class="dropdown-menu" style="font-size: 12px;">
            <li><a class="dropdown-item" href="#"> Alerts</a></li>
            <li><a class="dropdown-item" href="#"> Geofencing </a></li>
            <li><a class="dropdown-item" href="#"> Routes </a></li>
            <li><a class="dropdown-item" href="#"> Reports </a></li>
            <li><a class="dropdown-item" href="#"> Ruler </a></li>
            <li><a class="dropdown-item" href="#"> POI </a></li>
            <li><a class="dropdown-item" href="#"> Show point </a></li>
            <li><a class="dropdown-item" href="#"> Show address </a></li>
            <li><a class="dropdown-item" href="#"> Send command </a></li>
            <li><a class="dropdown-item" href="#"> Camera / Media </a></li>
            <li><a class="dropdown-item" href="#"> Tasks </a></li>
            <li><a class="dropdown-item" href="#"> Maintenance </a></li>
            <li><a class="dropdown-item" href="#"> Dashboard </a></li>
          </ul>
        </li>
        <li class="nav-item active" class="navbar_class"> <a class="nav-link" (click)="opensetup()"><img src="../../assets/setup.svg"
              style="width: 15px;" alt=""> </a> </li>
        <li class="nav-item" class="navbar_class"><a class="nav-link"> <img src="../../assets/chat-bubble-with-lines.svg"
              style="width: 15px;" alt=""> </a></li>
        <li class="nav-item" class="navbar_class"><a class="nav-link"> <img src="../../assets/profile.svg" style="width: 15px;" alt=""> </a>
        </li>
        <li class="nav-item" class="navbar_class"><a class="nav-link" (click)="opendashboard()"> <img src="../../assets/dashboard.svg"
              style="width: 15px;" alt=""> </a></li>

      </ul>
    </div>
    <div class="mx-auto order-0">
      <div class="logo" style="background-color: ">
        <a href="#"><img src="../../assets/gps-logo.png" style="width: 100px; height: 30px;" alt=""></a>
      </div>
    </div>
    <div class="right">
      <ul class="navbar-nav" style="margin-top: -20px;">
        <li class="nav-item dropdown navbar_class+3o">
          <a class="nav-link  dropdown-toggle tools-toggle" href="#" data-toggle="dropdown"> <img
              src="../../assets/hand-tools.svg" style="width: 15px;" alt=""> </a>
          <ul class="dropdown-menu" style="font-size: 12px;">
            <li><a class="dropdown-item" href="#"> Alerts</a></li>
            <li><a class="dropdown-item" href="#"> Geofencing </a></li>
            <li><a class="dropdown-item" href="#"> Routes </a></li>
            <li><a class="dropdown-item" href="#"> Reports </a></li>
            <li><a class="dropdown-item" href="#"> Ruler </a></li>
            <li><a class="dropdown-item" href="#"> POI </a></li>
            <li><a class="dropdown-item" href="#"> Show point </a></li>
            <li><a class="dropdown-item" href="#"> Show address </a></li>
            <li><a class="dropdown-item" href="#"> Send command </a></li>
            <li><a class="dropdown-item" href="#"> Camera / Media </a></li>
            <li><a class="dropdown-item" href="#"> Tasks </a></li>
            <li><a class="dropdown-item" href="#"> Maintenance </a></li>
            <li><a class="dropdown-item" href="#"> Dashboard </a></li>
          </ul>
        </li>
        <li class="nav-item active" class="navbar_class"> <a class="nav-link" (click)="opensetup()"><img src="../../assets/setup.svg"
              style="width: 15px;" alt=""> </a> </li>
        <li class="nav-item" class="navbar_class"><a class="nav-link"> <img src="../../assets/chat-bubble-with-lines.svg"
              style="width: 15px;" alt=""> </a></li>
        <li class="nav-item" class="navbar_class"><a class="nav-link"> <img src="../../assets/profile.svg" style="width: 15px;" alt=""> </a>
        </li>

      </ul>
    </div>
  </div> <!-- navbar-collapse.// -->
</nav>


<div class="mobilenav">
  <nav class="navbar fixed-top navbar-expand-lg navbar-trans navbar-inverse" style="height: 50px; z-index: 3; background-color: white;">
    <a class="navbar-brand" href="#">GPS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 20px;" alt="">
    </button>
    
  </nav>
  <div style="border: solid 1px black; position: absolute; z-index: 3; margin-top: 50px; background-color: white;">
    <p>hi
      
    </p></div>
</div>

<!-- <ul class="nav-area">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Portfolio</a></li>
  <li><a href="#">Services</a></li>
</ul> -->


<!-- <mat-card>
    <button mat-raised-button (click)="openBottomSheet()">Open Objects</button> &nbsp;
    <button mat-raised-button (click)="openbottom()">open Reports</button>
</mat-card> -->
<app-sidenav></app-sidenav>
<div #map style="width:100%;height:100%"></div>

<!-- <div *ngIf="showBottom" style="position: sticky; bottom: 0;">
    <mat-toolbar color="primary" style="width: 100%; height: 40px;">
        <button mat-icon-button (click)="openMenu.emit()">
          <mat-icon>menu</mat-icon>
        </button>
        <ng-content></ng-content>
      </mat-toolbar>
</div> -->


<!-- <div style="width: 300px; height: 500px; position: absolute; z-index: 1; bottom: 0; left: 0%;">
  <button style="float: right; transform: rotate(90deg); margin-right: -40px; margin-top: 100px;" (click)="openSideObjects()">click</button>
  <div *ngIf="sideObjects" class="row" style="background-color: lightgrey; height: 30px; font-size: 13px;">
    <div class="col-sm" [class.active1]="objects" (click)="showObjects()" style="height: 30px; padding-top: 5px;">
      <p>Objects</p>
    </div>
    <div class="col-sm" [class.active1]="events" (click)="showevents()" style="height: 30px; padding-top: 5px;">
      <p>Events</p>
    </div>
    <div class="col-sm" [class.active1]="history" (click)="showhistory()" style="height: 30px; padding-top: 5px;">
      <p>History</p>
    </div>
  </div>

  <div *ngIf="objects" style="height: 100%; width: 100%; background-color: white;"></div>
  <div *ngIf="events" style="height: 100%; width: 100%; background-color: white;"></div>
  <div *ngIf="history" style="height: 100%; width: 100%; background-color: white;"></div>
</div> -->


<div
  style="border-top-right-radius: 10px; position: absolute; z-index: 1; bottom: 0; left: 0%; float: right; background-color: white; font-size: 12px;">

  <!-- <button style="float: right; transform: rotate(90deg); margin-right: -33px; margin-top: 200px;" (click)="openleft()">click</button> -->


  <div
    style="float: right; transform: rotate(90deg); margin-right: -41px; margin-top: 200px; background-color: white; border-top-left-radius: 50px; border-top-right-radius: 50px;"
    (click)="openleft()">
    <button mat-icon-button>
      <!-- <mat-icon>touch_app</mat-icon> -->
      <img src="../../assets/drop-up-arrow.svg" style="width: 10px;" alt="">
    </button>
  </div>
  
  <div *ngIf="leftside" style="width: 291px;">
    <mat-tab-group style="background-color: rgb(253, 253, 253); border-top-right-radius: 20px; ">
      <mat-tab label="Objects">
        <div style="text-align: center; display: flex;">
          <!-- <mat-form-field style="width: 65%;">
            <mat-icon matPrefix>search</mat-icon>
            <input style="font-size: 20px;" matInput type="search" placeholder="search here" class="search-input">
          </mat-form-field> -->

          <div class="input-group" style="margin: 10px 5px 10px 10px; width: 150px;">
            <div class="input-group-prepend">
              <span class="input-group-text" style="height: 30px; width: 10px; background-color:  rgb(245, 245, 245);"><i class="fa fa-search" aria-hidden="true" style="margin-left: -5px; font-size: 12px;"></i></span>
            </div>
            <input type="text" class="form-control search-input" placeholder="Search" style="height: 30px; font-size: 12px;">
          </div>
          <!-- <img src="../../assets/refresh.svg" style="width: 15px; margin: 0px 5px 0px 5px;" alt="">
          <img src="../../assets/share.svg" style="width: 15px; margin: 0px 5px 0px 5px;" alt="">
          <img src="../../assets/plus.svg" style="width: 15px; margin: 0px 5px 0px 5px;" alt="">
          <img src="../../assets/delete.svg" style="width: 15px; margin: 0px 5px 0px 5px;" alt=""> -->

          <button class="button_class">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>

          <button class="button_class">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </button>

          <button class="button_class">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>

          <button class="button_class">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
        <div class="list-group checkbox-list-group" class="list" style="overflow: scroll;">
          <div class="list-group-item" style="padding: 0; height: 40px; position: relative;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right; position: relative;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p [matMenuTriggerFor]="beforeMenu"> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                  <!-- <div ngbDropdown>
                    <p id="dropdownBasic1" ngbDropdownToggle> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="position: absolute; z-index: 6;">
                      <button ngbDropdownItem>Action - 1</button>
                      <button ngbDropdownItem>Another Action</button>
                      <button ngbDropdownItem>Something else is here</button>
                    </div>
                  </div> -->
                  <mat-menu #beforeMenu="matMenu" xPosition="after">
                    <ul class="list-group list-group-flush" style="font-size: 10px; margin-top: -5px;">
                        <li class="list-group-item list-group-item-action" style="padding: 5px;" [matMenuTriggerFor]="History"> <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Show History</li>
                        <li class="list-group-item list-group-item-action" style="padding: 5px;"> <i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; Follow</li>
                        <li class="list-group-item list-group-item-action" style="padding: 5px;"> <i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; Share</li>
                        <li class="list-group-item list-group-item-action" style="padding: 5px;"> <i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; Edit</li>
                        <li class="list-group-item list-group-item-action" style="padding: 5px;"> <i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; Report</li>
                      </ul>
                  </mat-menu>

                  <!-- <mat-menu #History="matMenu">
                    <ul class="list-group list-group-flush" style="font-size: 10px; margin-top: -5px;">
                      <li class="list-group-item list-group-item-action" style="padding: 5px;"> <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; Today</li>
                      <li class="list-group-item list-group-item-action" style="padding: 5px;"> <i class="fa fa-chevron-right" aria-hidden="true"></i> &nbsp; This Week</li>
                      <li class="list-group-item list-group-item-action" style="padding: 5px;"> <i class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; This Month</li>
                    </ul>
                  </mat-menu> -->
                  <!-- <ul>
                      <li><a href="#">new file</a></li>
                      <li><a href="#">new file</a></li>
                      <li><a href="#">new file</a></li>
                      <li><a href="#">new file</a></li>
                    </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item" style="padding: 0; height: 40px;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item" style="padding: 0; height: 40px;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item" style="padding: 0; height: 40px;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item" style="padding: 0; height: 40px;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item" style="padding: 0; height: 40px;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item" style="padding: 0; height: 40px;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item" style="padding: 0; height: 40px;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item" style="padding: 0; height: 40px;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item" style="padding: 0; height: 40px;">
            <div class="row" style="padding: 0;">
              <div class="col-1" style="padding-top: 10px;">
                <label>
                  <input class="checkbox" type="checkbox">
                </label>
              </div>
              <div class="col-6">
                <p style="margin: 0;">BMW M5</p>
                <p style="margin: 0; font-size: 10px;">2020-10-13 10:45:53</p>
              </div>
              <div class="col">
                <div style="display: flex; float: right;">
                  <p>0kph</p> &nbsp;
                  <p> <img src="../../assets/car-engine.svg" style="width: 20px;" alt=""></p>
                  <p> <img src="../../assets/show-more-button-with-three-dots.svg" style="width: 12px;" alt=""></p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </mat-tab>

      <!-- event tab -->
      <mat-tab label="Events"> 
        <div style="text-align: center; display: flex;">
          <!-- <mat-form-field style="width: 65%;">
            <mat-icon matPrefix>search</mat-icon>
            <input style="font-size: 20px;" matInput type="search" placeholder="search here" class="search-input">
          </mat-form-field> -->

          <div class="input-group" style="margin: 10px 5px 10px 10px; width: 150px;">
            <div class="input-group-prepend">
              <span class="input-group-text" style="height: 30px; width: 10px; background-color:  rgb(245, 245, 245);"><i class="fa fa-search" aria-hidden="true" style="margin-left: -5px; font-size: 12px;"></i></span>
            </div>
            <input type="text" class="form-control search-input" placeholder="Search" style="height: 30px; font-size: 12px;">
          </div>
          <!-- <img src="../../assets/refresh.svg" style="width: 15px; margin: 0px 5px 0px 5px;" alt="">
          <img src="../../assets/share.svg" style="width: 15px; margin: 0px 5px 0px 5px;" alt="">
          <img src="../../assets/plus.svg" style="width: 15px; margin: 0px 5px 0px 5px;" alt="">
          <img src="../../assets/delete.svg" style="width: 15px; margin: 0px 5px 0px 5px;" alt=""> -->

          <button class="button_class">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>

          <button class="button_class">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
          </button>

          <button class="button_class">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>

          <button class="button_class">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>        
        <div class="table-responsive">
          <table class="table table-hover event-table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Time</th>
                <th scope="col">Object</th>
                <th scope="col">Event</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01:16:36</td>
                <td>Car</td>
                <td>Zone in (Coventry)</td>
              </tr>
              <tr>
                <td>01:19:43</td>
                <td>Car</td>
                <td>Zone in (Coventry)</td>
              </tr>
              <tr>
                <td>01:53:18</td>
                <td>Car</td>
                <td>Zone in (Stafford)</td>
              </tr>
              <tr>
                <td>01:57:13</td>
                <td>Car</td>
                <td>Zone in (Stafford)</td>
              </tr>
              <tr>
                <td>03:12:24</td>
                <td>Car</td>
                <td>Zone in (Preston)</td>
              </tr>
              <tr>
                <td>04:10:58</td>
                <td>Car</td>
                <td>Zone in (Preston)</td>
              </tr>
              <tr>
                <td>01:16:36</td>
                <td>Car</td>
                <td>Zone in (Coventry)</td>
              </tr>
              <tr>
                <td>01:19:43</td>
                <td>Car</td>
                <td>Zone in (Coventry)</td>
              </tr>
              <tr>
                <td>01:53:18</td>
                <td>Car</td>
                <td>Zone in (Stafford)</td>
              </tr>
              <tr>
                <td>01:57:13</td>
                <td>Car</td>
                <td>Zone in (Stafford)</td>
              </tr>
              <tr>
                <td>03:12:24</td>
                <td>Car</td>
                <td>Zone in (Preston)</td>
              </tr>
              <tr>
                <td>04:10:58</td>
                <td>Car</td>
                <td>Zone in (Preston)</td>
              </tr>
            </tbody>
          </table>
        </div>
         </mat-tab>
      <mat-tab label="History"> 
        <div style="background-color: rgb(253, 253, 253); width: 100%; height: 100%;">
          <div class="row" style="width: 100%; padding-left: 10px;">
            <div class="col-4">
              <p style="font-size: 15px;">Device:</p>
            </div>
            <div class="col-sm">
              <select style="font-size: 10px; width: 100%; height: 25px; border: none; background-color: rgb(241, 241, 241);">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
        </div>
        <div class="row" style="width: 100%; padding-left: 10px;">
          <div class="col-4">
            <p style="font-size: 15px;">From:</p>
          </div>
          <div class="col-sm">
            <select style="font-size: 10px; width: 100%; height: 25px; border: none; background-color: rgb(241, 241, 241);">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
      </div>
        </div> </mat-tab>
    </mat-tab-group>
  </div>
</div>





<div
  style="width:fit-content; height:fit-content; background-color: white; color: black; bottom: 0%; position: absolute; z-index: 2; right: 0; border: solid 1px black; font-size: 10px; padding: 0px !important;">

  <div class="bottom-button"
    style="text-align: center; margin-top: -40px; margin-left: 350px; border-top-left-radius: 50px; border-top-right-radius: 50px; background-color: white; width: 50px; padding: 0px !important;"
    (click)="openbottom()">
    <button mat-icon-button>
      <!-- <mat-icon>touch_app</mat-icon> -->
      <img src="../../assets/drop-up-arrow.svg" style="width: 10px;" alt="">
    </button>
  </div>

  <div *ngIf="showBottom">
    <div style="display: flex; overflow-x: auto;">
      <div style="border-right: solid 1px #d9d9d9; width: 400px;">
        <li class="list-group-item" style="background-color: #f9f9f9; padding: 10px;">
          <div class="row">
            <div class="col-sm">BMW M5</div>
            <div class="col-sm">Engine</div>
          </div>
        </li>
        <ul class="list-group list-group-flush" style="padding: 10px;">
          <li class="list-group-item bottomlist">
            <div class="row">
              <div class="col-sm">Address:</div>
              <div class="col-sm">Av. Cuahutemoc, Nueva San</div>
            </div>
          </li>
          <li class="list-group-item bottomlist">
            <div class="row">
              <div class="col-sm">Time:</div>
              <div class="col-sm">2020-10-09 08:44:51</div>
            </div>
          </li>
          <li class="list-group-item bottomlist">
            <div class="row">
              <div class="col-sm">Stop duration:</div>
              <div class="col-sm">0h</div>
            </div>
          </li>
          <li class="list-group-item bottomlist">
            <div class="row">
              <div class="col-sm">Driver:</div>
              <div class="col-sm">-</div>
            </div>
          </li>
        </ul>
      </div>

      <div style="border-right: solid 1px #d9d9d9;">
        <li class="list-group-item" style="background-color: #f9f9f9; padding: 10px;">
          <div class="row">
            <div class="col-sm">Sensors</div>
            <div class="col-sm"></div>
          </div>
        </li>
        <div style="display: flex;">
          <ul class="list-group list-group-flush" style="padding: 10px;">
            <li class="list-group-item bottomlist">
              <div class="row">
                <div class="col-sm">Battery</div>
                <div class="col-sm">6 %</div>
              </div>
            </li>
            <li class="list-group-item bottomlist">
              <div class="row">
                <div class="col-sm">Ignition</div>
                <div class="col-sm">Off</div>
              </div>
            </li>
            <li class="list-group-item bottomlist">
              <div class="row">
                <div class="col-sm">Satellites</div>
                <div class="col-sm">9</div>
              </div>
            </li>
            <li class="list-group-item bottomlist">
              <div class="row">
                <div class="col-sm">Speed</div>
                <div class="col-sm">0 kph</div>
              </div>
            </li>
          </ul>
          <ul class="list-group list-group-flush" style="padding: 10px;">
            <li class="list-group-item bottomlist">
              <div class="row">
                <div class="col-sm">RSSI</div>
                <div class="col-sm">40 %</div>
              </div>
            </li>
            <li class="list-group-item bottomlist">
              <div class="row">
                <div class="col-sm">Blocked</div>
                <div class="col-sm">Closed</div>
              </div>
            </li>
            <li class="list-group-item bottomlist">
              <div class="row">
                <div class="col-sm">Charge</div>
                <div class="col-sm">On</div>
              </div>
            </li>
            <li class="list-group-item bottomlist">
              <div class="row">
                <div class="col-sm">GSM</div>
                <div class="col-sm">40 %</div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div style="border-right: solid 1px #d9d9d9;">
        <li class="list-group-item" style="background-color: #f9f9f9; padding: 10px;">
          <div class="row">
            <div class="col-sm">Intuite Graph</div>
            <div class="col-sm"></div>
          </div>
        </li>
        <div style="display: flex;">
          <div style="display: block;">
            <canvas baseChart style="height: 120px;" [data]="pieChartData" [chartType]="pieChartType"
              [colors]="chartColors" [labels]="pieChartLabels" [legend]="false"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- this is for maps controls -->
<button class="focus"
  style="top: 10%;" class="map-controls">
  <i class="fa fa-arrows-alt" aria-hidden="true" style="margin-top: 8px;" title="show full screen"></i>
</button>

<button
  style="top: 15%;" class="map-controls">
  <i class="fa fa-plus" aria-hidden="true" style="margin-top: 8px;" title="zoom in"></i>
</button>

<button
  style="top: 19.5%;" class="map-controls">
  <i class="fa fa-minus" aria-hidden="true" style="margin-top: 8px;" title="zoom out"></i>
</button>

<button
  style="top: 25%;" class="map-controls">
  <i class="fa fa-paper-plane" aria-hidden="true" style="margin-top: 8px;" title="fit Objects"></i>
</button>

<button
  style="top: 30%;" class="map-controls">
  <i class="fa fa-paper-plane-o" aria-hidden="true" style="margin-top: 8px;" title="objects"></i>
</button>

<button
  style="top: 34.1%;" class="map-controls">
  <img src="../../assets/placeholder.svg" style="width: 20px;" alt="">
</button>

<button
  style="top: 38.1%;" class="map-controls">
  <i class="fa fa-microchip" aria-hidden="true" style="margin-top: 8px;" title="show traffic"></i>
</button>

<button
  style="top: 42.1%;" class="map-controls">
  <i class="fa fa-paper-plane-o" aria-hidden="true" style="margin-top: 8px;" title="show traffic"></i>
</button>

<button
  style="top: 46.1%;" class="map-controls">
  <i class="fa fa-road" aria-hidden="true" style="margin-top: 8px;" title="routes"></i>
</button>

<button
  style="top: 50.1%;" class="map-controls">
  <i class="fa fa-map-marker" aria-hidden="true" style="margin-top: 8px;" title="POI"></i>
</button>

<button
  style="top: 54.1%;" class="map-controls">
  <i class="fa fa-map-o" aria-hidden="true" style="margin-top: 8px;"></i>
</button>
<!-- this is for maps controls -->