<div class="content">
    <div style="display: flex;">
        <img src="../../assets/setup.svg" style="width: 15px; margin-top: -15px; margin-left: 10px;" alt=""> &nbsp;
        <p style="font-size: 15px;">Setup</p>
        <!-- <a class="btn" style="float: right;">
            <mat-icon (click)="close()" style="zoom: 2;">close</mat-icon>
        </a> -->
    </div>
    <mat-tab-group>
        <mat-tab label="Main">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Unit of distance:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Mile</option>
                    <option>Kilometer</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Unit of capacity:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Litre</option>
                    <option>Gallon</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Unit of altitude</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Meter</option>
                    <option>Feet</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Default calendar week start day:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Monday</option>
                    <option>Sunday</option>
                    <option>Saturday</option>
                    <option>Friday</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Timezone:</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>UTC 00:00</option>
                    <option>UTC +00:15</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Daylight saving time</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>None</option>
                    <option>Exact date</option>
                    <option>Automatic</option>
                    <option>Other</option>
                </select>
            </div>
        </mat-tab>

        <mat-tab label="object groups">

            <div class="input-group" style="margin-top: 5px;">
                <input class="form-control border-right-0" value="ohone trace" style="padding-left: 10px;">
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent">
                        <img src="../../assets/close.svg" style="width: 10px;" alt="">
                    </span>
                </span>
            </div>

            <div class="input-group" style="margin-top: 5px;">
                <input class="form-control border-right-0" value="ohone trace" style="padding-left: 10px;">
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent">
                        <img src="../../assets/close.svg" style="width: 10px;" alt="">
                    </span>
                </span>
            </div>

            <div class="input-group" style="margin-top: 5px;">
                <input class="form-control border-right-0" value="ohone trace" style="padding-left: 10px;">
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent">
                        <img src="../../assets/close.svg" style="width: 10px;" alt="">
                    </span>
                </span>
            </div>

            <div class="input-group" style="margin-top: 5px;">
                <input class="form-control border-right-0" value="ohone trace" style="padding-left: 10px;">
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent">
                        <img src="../../assets/close.svg" style="width: 10px;" alt="">
                    </span>
                </span>
            </div>

            <div class="input-group" style="margin-top: 5px;">
                <input class="form-control border-right-0" value="ohone trace" style="padding-left: 10px;">
                <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent">
                        <img src="../../assets/close.svg" style="width: 10px;" alt="">
                    </span>
                </span>
            </div>

        </mat-tab>
        <mat-tab label="Drivers">
            <div style="float: right; padding: 10px;">
                <button class="btn btn-outline-info">Add Drivers</button>
            </div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Device</th>
                        <th scope="col">RFID</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Olivi Jones</th>
                        <td>Mercedes-Benz printer</td>
                        <td></td>
                        <td>88888888</td>
                        <td>olivia@beltech.in</td>
                        <td>Description</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Olivi Jones</th>
                        <td>Mercedes-Benz printer</td>
                        <td></td>
                        <td>88888888</td>
                        <td>olivia@beltech.in</td>
                        <td>Description</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Olivi Jones</th>
                        <td>Mercedes-Benz printer</td>
                        <td></td>
                        <td>88888888</td>
                        <td>olivia@beltech.in</td>
                        <td>Description</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Olivi Jones</th>
                        <td>Mercedes-Benz printer</td>
                        <td></td>
                        <td>88888888</td>
                        <td>olivia@beltech.in</td>
                        <td>Description</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Olivi Jones</th>
                        <td>Mercedes-Benz printer</td>
                        <td></td>
                        <td>88888888</td>
                        <td>olivia@beltech.in</td>
                        <td>Description</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div style="float: left; padding: 10px;">
                <button class="btn btn-outline-info">Save</button>
                <button class="btn btn-outline-light" style="color: black;">Cancel</button>
            </div>
        </mat-tab>
        <mat-tab label="Events">
            <div style="float: right; padding: 10px;">
                <button class="btn btn-outline-info">Add event</button>
            </div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Parameters</th>
                        <th scope="col">Message</th>
                        <th scope="col">Show always</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">detector</th>
                        <td>sd, d1, aad, adad, abc, 11</td>
                        <td>Test</td>
                        <td>Yes</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">detector</th>
                        <td>sd, d1, aad, adad, abc, 11</td>
                        <td>Test</td>
                        <td>Yes</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">detector</th>
                        <td>sd, d1, aad, adad, abc, 11</td>
                        <td>Test</td>
                        <td>Yes</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">detector</th>
                        <td>sd, d1, aad, adad, abc, 11</td>
                        <td>Test</td>
                        <td>Yes</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">detector</th>
                        <td>sd, d1, aad, adad, abc, 11</td>
                        <td>Test</td>
                        <td>Yes</td>
                        <td>
                            <a>
                                <mat-icon style="font-size: 15px;">settings</mat-icon>
                            </a>
                            <a>
                                <mat-icon style="font-size: 15px;">close</mat-icon>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div style="float: left; padding: 10px;">
                <button class="btn btn-outline-info">Save</button>
                <button class="btn btn-outline-light" style="color: black;">Cancel</button>
            </div>
        </mat-tab>
        <mat-tab label="SMS gateway">
            <div style="padding: 10px;">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                    <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Enable SMS
                        gateway</label>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Request method:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>GET</option>
                        <option>POST</option>
                        <option>SMS gateway app</option>
                        <option>Plivo</option>
                    </select>
                </div>

                <div style="padding: 10px 0px 10px 0px;">
                    <button class="btn btn-danger">Clear queue</button> &nbsp;
                    <button class="btn btn-info" style="color: black;">Send test SMS</button>
                </div>

                <div style="">
                    <p>SMS in the queue: 0</p>
                    <p>App last connection: -</p>
                    <p>If sms gateway app don't send sms in 24h it will be deleted from the queue.</p>
                </div>

                <div style="padding: 10px 0px 10px 0px;">
                    <button class="btn btn-outline-info">Clear queue</button> &nbsp;
                    <button class="btn btn-outline-light" style="color: black;">Send test SMS</button>
                </div>
            </div>


        </mat-tab>
        <mat-tab label="SMS templates">
            <div style="float: right; margin: 10px;">
                <button class="btn btn-info">Add templates</button>
            </div>

            <table class="table" style="font-size: 10px;">
                <thead class="thead-light" style="font-size: 12px;">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">sssss</th>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">sssss</th>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">sssss</th>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">sssss</th>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">sssss</th>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="padding: 10px 0px 10px 0px;">
                <button class="btn btn-outline-info">Save</button> &nbsp;
                <button class="btn btn-outline-light" style="color: black;">Cancel</button>
            </div>
        </mat-tab>
        <mat-tab label="GPRS templates">
            <div style="float: right; margin: 10px;">
                <button class="btn btn-info">Add templates</button>
            </div>

            <table class="table" style="font-size: 10px;">
                <thead class="thead-light" style="font-size: 12px;">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">protocol</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">sssss</th>
                        <td></td>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">sssss</th>
                        <td></td>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">sssss</th>
                        <td></td>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">sssss</th>
                        <td></td>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">sssss</th>
                        <td></td>
                        <td style="float: right;">
                            <a href="">
                                <img src="../../assets/close.svg" style="width: 10px;" alt="">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="padding: 10px 0px 10px 0px;">
                <button class="btn btn-outline-info">Save</button> &nbsp;
                <button class="btn btn-outline-light" style="color: black;">Cancel</button>
            </div>
        </mat-tab>
        <mat-tab label="Widgets">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Default Widgets</label>
            </div>

            <hr>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Enable Widgets</label>
            </div>

            <div class="rowss">
                <div class="row rowss">
                    <div class="col-sm coln" style="background-color: rgb(245, 245, 245);">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Object</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Location</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">GPRS command</label>
                        </div>
                    </div>
                    <div class="col-sm coln" style="background-color: rgb(245, 245, 245);">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Sensors</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Device camera</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Recent events</label>
                        </div>
                    </div>
                    <div class="col-sm coln" style="background-color: rgb(245, 245, 245);">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Street Views</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Image</label>
                        </div>
                    </div>
                    <div class="col-sm coln" style="background-color: rgb(245, 245, 245);">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Services</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" style="width: 18px;">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px;">Fuel</label>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding: 10px 0px 10px 0px;">
                <button class="btn btn-outline-info">Save</button> &nbsp;
                <button class="btn btn-outline-light" style="color: black;">Cancel</button>
            </div>
        </mat-tab>
        <mat-tab label="Dashboard"> Content 3 </mat-tab>
    </mat-tab-group>
</div>